@import "tailwindcss";

@keyframes borderMove {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  25% {
    clip-path: inset(100% 0 0 0);
  }
  50% {
    clip-path: inset(0 100% 0 0);
  }
  75% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.animate-borderMove {
  animation: borderMove 2.5s linear infinite;
}