@import "tailwindcss";

.containers{
    display: grid;
    grid-template-areas: 
    "div1 div2 div2"
    "div1 div3 div3"
    "div4 div4 div5"
}
.div1{
    grid-area: div1;
}
.div2{
    grid-area: div2;
    
}
.div3{
    grid-area: div3;
}
.div4{
    grid-area: div4;
}
.div5{
    grid-area: div5;
}
